$light: white;
$dark: #010101;

// * grey
$grey: #cec2c2;
$grey-light: #fafaff;

// * purples
$purple-dark: #513cad;
$purple: #7b68d1;
$purple-light: #c3b6fe;

// * reds
$red-dark: #de2c65;
$red: #fa477f;
$red-light: #fdd3e1;

// * blues
$blue-dark: #0f437c;
$blue: #407bff;
$blue-light: #c6d8ff;

// * pinks
$pink-dark: #dd4a78;
$pink: #ff9bbb;
$pink-light: #ffe9f1;

// * greens
$green-dark: #41682c;
$green: #518242;
$green-light: #d9e7cb;

// * oranges
$orange-dark: #6b2900;
$orange: #d87739;
$orange-light: #ffdbc9;

// * yellows
$yellow-dark: #616606;
$yellow: #e2e788;
$yellow-light: #f0f3b5;

// * third party
$discord-blue: #5865f2;
$youtube-red: #ff0000;
$paypal-blue: #003087;
