@use "colors" as *;

$bg-single: #ffffff;
$bg2: #f9fafd;
$bg-invert: #1f1f1f;
$overlay: rgba(255, 255, 255, 0.68);

$bg: #ffffff;
$text: #444459;
$text-invert: white;
$nav: #f2ecf4;
$head: #f8f1f6;
$company-color: #e1dff8;
$company2-color: #b9a2f3;
$company3-color: #675496;
$company4-color: #fbaefe;
$active: #e2e0f9;
$active2: #ecdeff;
$active-hover: #cdcaef;
$active-text: #444459;
$dialog: #ece6ee;
$box: #fff;
$box2: #fef7ff;
$box3: #f8f2fa;
$box-invert: #394655;
$button: #ece5f5;
$button-hover: #ded4ec;
$button-active: #ffd7e6;
$button-active-hover: #eebed0;
$slightest-hover: rgba(0, 0, 0, 0.02);
$slighter-hover: rgba(0, 0, 0, 0.04);
$slight-hover: rgba(0, 0, 0, 0.08);
$hover: rgba(0, 0, 0, 0.24);
$hover-dark: rgba(0, 0, 0, 0.68);
$hover-invert: rgba(255, 255, 255, 0.42);
$hover-dark-invert: rgba(255, 255, 255, 0.68);
$slight-hover-invert: rgba(255, 255, 255, 0.08);
$slighter-hover-invert: rgba(255, 255, 255, 0.04);
$slightest-hover-invert: rgba(255, 255, 255, 0.02);

// $bg: #141314;
// $text: #e6e1e3;
// $text-invert: #141314;
// $nav: #211f21;
// $head: #1c1b1d;
// $company-color: #543f5d;
// $company2-color: #684976;
// $company3-color: #7d4e91;
// $company4-color: #fbaefe;
// $active: #45455b;
// $active2: #4d4d66;
// $active-hover: #3c3c53;
// $active-text: #e1e0fb;
// $dialog: #ece6ee;
// $box: #222124;
// $box2: #1e1c1f;
// $box3: #211e24;
// $box-invert: #fff;
// $button: #45455a;
// $button-hover: #323245;
// $button-active: #7f2344;
// $button-active-hover: #61132f;
// $slightest-hover: rgba(255, 255, 255, 0.02);
// $slighter-hover: rgba(255, 255, 255, 0.04);
// $slight-hover: rgba(255, 255, 255, 0.08);
// $hover: rgba(255, 255, 255, 0.24);
// $hover-dark: rgba(255, 255, 255, 0.68);
// $hover-invert: rgba(0, 0, 0, 0.42);
// $hover-dark-invert: rgba(0, 0, 0, 0.68);
// $slight-hover-invert: rgba(0, 0, 0, 0.08);
// $slighter-hover-invert: rgba(0, 0, 0, 0.04);
// $slightest-hover-invert: rgba(0, 0, 0, 0.02);
